
.fadeSlider {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.fadeSlider_01 {
      background-image: url(/img/IMG_6896.jpeg);
      animation: fadeSlideImg01 15s ease-out infinite;
      animation-delay: 3s;
    }
    &.fadeSlider_02 {
      opacity: 0;
      background-image: url(/img/IMG_6886.png);
      animation: fadeSlideImg02 15s ease-out infinite;
      animation-delay: 3s;
    }
    &.fadeSlider_03 {
      opacity: 0;
      background-image: url(/img/IMG_4807.jpg);
      animation: fadeSlideImg03 15s ease-out infinite;
      animation-delay: 3s;
    }
  }
}

@keyframes fadeSlideImg01 {
    0% { opacity: 1; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeSlideImg02 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    66% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fadeSlideImg03 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}
